<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'mechanics')}">
<head>
    <meta charset="UTF-8">
    <title>List of Mechanics</title>
</head>
<body>
<!--/*@thymesVar id="mechanic type="dev.ericrybarczyk.springbikeclinic.model.Mechanic"*/-->
<h2 th:text="'List of Mechanics'">List of Mechanics...</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td style="width: 80px;">Id</td>
        <td style="width: 160px;">First Name</td>
        <td style="width: 220px;">Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mechanic : ${mechanics}">
        <td th:text="${mechanic.id}"><a th:href="@{/mechanics/__${mechanic.id}__}" th:text="${mechanic.id}"></a></td>
        <td th:text="${mechanic.firstName}">First</td>
        <td th:text="${mechanic.lastName}">Last</td>
    </tr>
    </tbody>
</table>

</body>
</html>