<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'index')}">
<head>
    <meta charset="UTF-8">
    <title>Bike Clinic Index</title>
</head>
<body>

    <h2 th:text="#{welcome}">Welcome</h2>

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/mountainbike_sm.png" th:src="@{/resources/images/mountainbike_sm.png}" />
        </div>
    </div>

</body>
</html>