<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'index')}">
<head>
    <meta charset="UTF-8">
    <title>Bike Clinic Index</title>
</head>
<body>

    <h2 th:text="#{welcome}">Welcome</h2>

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/3bikes_sydandmacky_small.png" th:src="@{/resources/images/3bikes_sydandmacky_small.png}" />
            <br>
            <span class="text-credits">Image Credit: <a href="https://www.youtube.com/sydandmacky" target="_blank">SYD and MACKY</a></span>
        </div>
    </div>

</body>
</html>