<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'bikeOwners')}">
<head>
    <meta charset="UTF-8">
    <title>Bike Form</title>
</head>
<body>

<!--/*@thymesVar id="bike type="dev.ericrybarczyk.springbikeclinic.model.Bike"*/-->
<h2><th:block th:if="${bike['new']}">New </th:block>Bike</h2>

<form th:object="${bike}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <div class="form-group has-feedback">
        <div class="form-group">
            <label class="col-sm-2 control-label">Bike Owner</label>
            <div class="col-sm-10">
                <span th:text="${bike.owner?.firstName + ' ' + bike.owner?.lastName}" />
            </div>
        </div>
        <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Purchase Date', 'purchaseDate', 'date')}" />
        <input th:replace="~{fragments/selectField :: select ('Type', 'bikeType', ${bikeTypes})}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${bike['new']} ? 'Add Bike' : 'Update Bike'" class="btn btn-default" type="submit" th:text="${text}">Add Bike</button>
        </div>
    </div>
</form>

</body>
</html>